
python/__pycache__/*
/python/BRCMapFusion360/dependencies
/python/BRCMapFusion360/.vscode
python/BRCMapFusion360/plugin_log.txt
renders/.DS_Store
.DS_Store
art.json
camp.json
event.json
renders/.DS_Store
